
body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 44px;
    text-align: center;
    padding-top: 100px;
}

p {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 25px;
}